name: Terraform Plan

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-main:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: infra
        run: terraform init

      - name: Terraform Plan
        working-directory: infra
        run: terraform plan
        env:
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          TF_VAR_location: ${{ secrets.TF_VAR_LOCATION }}
          TF_VAR_resource_group_name: ${{ secrets.TF_VAR_RESOURCE_GROUP_NAME }}
          TF_VAR_sql_server_name: ${{ secrets.TF_VAR_SQL_SERVER_NAME }}
          TF_VAR_sql_database_name: ${{ secrets.TF_VAR_SQL_DATABASE_NAME }}
          TF_VAR_sql_admin_login: ${{ secrets.TF_VAR_SQL_ADMIN_LOGIN }}
          TF_VAR_sql_admin_password: ${{ secrets.TF_VAR_SQL_ADMIN_PASSWORD }}
          TF_VAR_vnet_name: ${{ secrets.TF_VAR_VNET_NAME }}
          TF_VAR_address_space: ${{ secrets.TF_VAR_ADDRESS_SPACE }}
          TF_VAR_subnet_integration_cidr: ${{ secrets.TF_VAR_SUBNET_INTEGRATION_CIDR }}
          TF_VAR_subnet_vm_cidr: ${{ secrets.TF_VAR_SUBNET_VM_CIDR }}
          TF_VAR_subnet_privateendpoint_cidr: ${{ secrets.TF_VAR_SUBNET_PRIVATEENDPOINT_CIDR }}
          TF_VAR_vm_name: ${{ secrets.TF_VAR_VM_NAME }}
          TF_VAR_vm_size: ${{ secrets.TF_VAR_VM_SIZE }}
          TF_VAR_vm_admin_username: ${{ secrets.TF_VAR_VM_ADMIN_USERNAME }}
          TF_VAR_vm_admin_password: ${{ secrets.TF_VAR_VM_ADMIN_PASSWORD }}
          TF_VAR_app_service_plan_name: ${{ secrets.TF_VAR_APP_SERVICE_PLAN_NAME }}
          TF_VAR_webapp_frontend_name: ${{ secrets.TF_VAR_WEBAPP_FRONTEND_NAME }}
          TF_VAR_webapp_backend_name: ${{ secrets.TF_VAR_WEBAPP_BACKEND_NAME }}
